h1 {
  font-family: sans-serif;
}

body {
  margin: 1em;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#download {
  color: #5555ff;
  font-size: 2em;
  font-weight: bold;
  margin: 1em;

  font-family: sans-serif;
}

// blatantly copied from stackoverflow:
// https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
